.container1{
    display: flex !important;
    align-content: space-between !important;
    justify-content: space-between !important;
    align-self: flex-end !important;
}
.ms-auto{
    display: flex !important;
    justify-content: flex-end !important;
    margin-left: 800px;
}
.masthead{
    margin-top: -10%;
}